@use '../variables'
@use '../mixins'


#nav-container
    display: flex
    justify-content: space-between
    background: variables.$gradient
    border-bottom: 5px solid variables.$cor-primaria-texto
    @media(max-width: 780px)
        flex-wrap: wrap

    #logo-container
        @include mixins.center

        img
            padding: 0 2rem
            width: 135px
            @media(max-width: 590px)
                max-width: 80px
                padding-left: 0

        h2
            font-size: 4rem
            margin: 3rem 0
            @media(max-width: 590px)
                font-size: 2rem

        @media(max-width: 590px)
                width: 100%
                
        
    #menu-container
        @include mixins.center

        a
            display: flex
            align-items: center
            justify-content: center
            text-decoration: none
            padding: 1rem 1.2rem
            margin: 0 .5rem
            // border-top: 5px solid variables.$cor-primaria-texto
            color: variables.$cor-primaria-texto
            text-transform: uppercase
            margin-right: 2rem
            transition: .4s
            svg
                margin-right: 10px 
            @media(max-width: 780px)
                width: 80%
                margin: 1rem 0
                text-align: center

        @media(max-width: 780px)
            width: 100%
            

        :hover
            // border-bottom: 5px solid variables.$cor-primaria-texto
        
        .active
            background: variables.$cor-primaria-texto
            color: variables.$cor-secundaria-texto